<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ribbon - Log in</title>
    <link href="https://fonts.googleapis.com/css?family=Cookie|PT+Serif+Caption&amp;subset=cyrillic" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}"rel="stylesheet">
    <link href="{% static 'css/styles.css' %}"rel="stylesheet">
    <link href="{% static 'fonts\Athelas-Regular.ttf' %}"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="{% static 'fonts\Athelas-Regular.ttf' %}"rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="login_page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
                    <div class="login_window">
                        <div class="login_window_header">
                            <div class="login_window_header_text">
                                Log in
                            </div>
                        </div>
                        <div class="login_window_body">
                             <form id="signup-window-data" action="" method="post">
                            <div class="form-group ">
                              {% csrf_token %}
                              <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
                              {{ form.as_p }}
                              <button type="submit">Войти</button>
                            </div>
                            <!--<div class="form_group">-->
                                <!--<input class="form-control" type="text" name="email" placeholder="E-mail Address">-->
                                <!--<input class="form-control" type="password" name="password" placeholder="Password">-->
                            <!--</div>-->
                            <div class="checkbox_forgot">
                                <input class="form-control" type="checkbox" name="a" value="remember" checked>
                                <label for="remember">Remember me</label>
                                <span id="forgot"><a href ="#">Forgot password?</a></span>
                            </div>
                            <!--<center><button type="submit" class="login_button login_button__pink" style="outline:none "><span class="fa fa-sign-in">Log in</span></button></center>-->
                        </div>
                        <div class="login_window_footer">
                            <div>
                                <span><button class="login_button login_button__fb"><span>Log in</span></button><button class="login_button login_button__vk"><span>Log in</span></button></span>
                                <div>
                                    <button class="login_button login_button__google"><span>Log in</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
