<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <title>Ribbon</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Cookie|PT+Serif+Caption&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
</head>

<body>
{% if registered %}
<strong>thank you for registering!</strong>
<a href="/feed/">Return to the homepage.</a><br/>
{% else %}
<div id="homepage">
    <div class="w3-container" id="top-content">
        <div id="top-background">
            <div id="top-overlay">
                <div class="w3-row" id="fixbar-region">
                    <header id="top-navbar">
                        <div class="w3-col s6 m2 l2" id="navbar-left">
                            <span id="icon">Ribbon</span>
                        </div>
                        <div id="navbar-center">
                        </div>
                        <div id="navbar-right">
                            <button type="button">Log in</button>
                            <button onclick="document.getElementById('signup-window').style.display='block'"
                                    class="w3-hide-small" type="button">Sign up
                            </button>
                        </div>
                    </header>
                </div>
                <div id="top-view">
                    <div class="w3-col s1 m2 l2"></div>
                    <h1 id="pseudo-search" class="w3-rest">I want <span class="pseudo-search-type"></span></h1>
                    <button onclick="document.getElementById('signup-window').style.display='block'"
                            type="button">START MY RIBBON
                    </button>
                    <div id="signup-window" class="w3-modal">
                        <div id="signup-window-container" class="w3-modal-content">
                            <div class="w3-container">
									<span onclick="document.getElementById('signup-window').style.display='none'"
                                          class="w3-closebtn">&times;</span>
                                <div id="signup-window-header" class="w3-row">
                                    <h1 class="w3-center">Sign Up</h1>


                                    <form id="user_form" method="post" action="/feed/"
                                          enctype="multipart/form-data">

                                        {% csrf_token %}


                                        {{ user_form.as_p }}
                                        {{ profile_form.as_p }}


                                        <input type="submit" name="submit" value="Register"/>
                                    </form>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'typed.js' %}"></script>
<script src="{% static 'scripts.js' %}"></script>

{% endif %}
</body>

</html>
