html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100%;
    overflow-y: hidden;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

#navbar-signup {
    background-color: rgba(255, 255, 255, 0);
    height: 80px;
    border: none
}

#navbar-home {
    height: 65px;
    width: 100%;
    border: 0 !important;
    background-color: #ffffff;
    box-shadow: 0 .5px 2px 0 rgba(0, 0, 0, 0.5)
}

#navbar-home .squarespace-left {
    width: 50px;
    height: 50px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
    margin: 8px 0 7px 0
}

#navbar-home .squarespace-right {
    width: 50px;
    height: 50px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
    margin: 8px 20px 7px 0;
    float: left
}

#navbar-home .circlespace-right {
    width: 50px;
    height: 50px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
    border-radius: 25px;
    margin: 8px 15px 7px 0;
    float: left
}

#navbar-home input {
    width: 100%;
    max-width: 720px;
    height: 35px;
    border-radius: 3px;
    background-color: #fff5f2;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.1px;
    color: #979797;
    font-style: 'OpenSans', sans-serif;
    margin: 15px 0 0 0;
    border: none;
    outline: none;
    background-image: url("../img/search-icon.png");
    background-repeat: no-repeat;
    background-position: 15px;
    padding-left: 40px
}

.navigbtn {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1px !important;
    border: 1px solid #ffffff;
    width: 140px;
    height: 44px;
    margin-top: 17px;
    font-family: 'PT Serif Caption', serif, "Open Sans", "Helvetica Neue", Helvetica;
    font-size: 20px;
    outline: none
}

.navigbtn:hover {
    color: #000;
    background-color: white;
    border-radius: 1px !important;
    border: 1px solid #ffffff;
    width: 140px;
    height: 44px;
    margin-top: 17px;
    font-family: 'PT Serif Caption', serif, "Open Sans", "Helvetica Neue", Helvetica;
    font-size: 20px;
    outline: none
}

.navbar-brand {
    font-style: 'OpenSans', sans-serif;
    font-size: 200%;
    margin-top: 17px
}

#maintext {
    font-size: 100px;
    font-family: 'PT Serif Caption', serif, "Open Sans", "Helvetica Neue", Helvetica;
    text-align: left;
    color: black
}

#signup-page {
    height: 95%;
    width: 100%
}

#signup-page #backgr-image {
    background: url("http://i.imgur.com/NC7U7m8.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    height: 100%;
    width: 100%
}

#signup-page #top-overlay {
    background: rgba(255, 94, 50, 0.4);
    height: 100%;
    width: 100%
}

#signup-page #top-overlay #top-content {
    width: 100%;
    height: 100%
}

#signup-page #top-overlay #top-content .main-text {
    margin: 15% 0 0 10.4%;
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    color: white;
    text-decoration: underline
}

#signup-page #top-overlay #top-content .button_create {
    width: 16.7%;
    height: 55px;
    background: white;
    font-family: 'OpenSans', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #505050;
    border-radius: 1px;
    background-color: #ffffff;
    margin: 10.8% 41% 0 41%;
    border: none;
    outline: none
}

.center-content {
    height: 100%
}

.center-content .whitebackgr {
    background: white;
    height: 100%
}

.center-content .peachbackgr {
    background: #ff6f59;
    height: 100%
}

.center-content .footer {
    background: grey;
    height: 100px
}

#modalsignup .modal-dialog {
    width: 556px;
    height: 523px
}

#modalsignup .modal-dialog .modal-content {
    background: rgba(255, 255, 255, 0.99);
    height: 100%;
    width: 100%
}

#modalsignup .modal-dialog .modal-content .modal-header h4 {
    font-family: Athelas;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.3px;
    color: #505050;
    display: inline-block
}

#modalsignup .modal-dialog .modal-content .modal-header {
    background: white;
    height: 12.6%;
    vertical-align: middle;
    text-align: center;
    background: rgba(255, 255, 255, 0.99)
}

#modalsignup .modal-dialog .modal-content .modal-body p {
    margin: -10px 0 20px 0;
    font-family: Athelas;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #3f3f3f
}

#modalsignup .modal-dialog .modal-content .modal-body .form-group {
    padding-left: 9.5%;
    padding-right: 9.5%;
    margin-bottom: 10px
}

#modalsignup .modal-dialog .modal-content .modal-body .form-group input {
    height: 40px
}

#modalsignup .modal-dialog .modal-content .modal-body .signup-button {
    margin-top: 25px;
    width: 170px;
    height: 45px;
    border-radius: 1px;
    background-color: #feb29e;
    border: solid .5px #bebebe
}

#modalsignup .modal-dialog .modal-content .modal-body .signup-button span {
    font-family: Athelas;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.3px;
    text-align: center;
    color: #ffffff
}

#modalsignup .modal-dialog .modal-content .modal-body .signup-sn-group {
    margin-top: 45px
}

#modalsignup .modal-dialog .modal-content .modal-body .signup-sn-group .signup-facebook {
    width: 188px;
    height: 42px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #4f66ab;
    margin-right: 16px;
    margin: 0 16px 0 12.6%;
    background-image: url("../img/fb.png");
    background-repeat: no-repeat;
    background-position: 15px;
    padding-left: 37px
}

#modalsignup .modal-dialog .modal-content .modal-body .signup-sn-group .signup-vk {
    width: 188px;
    height: 42px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #517398;
    background-image: url("../img/vk.png");
    background-repeat: no-repeat;
    background-position: 15px;
    padding-left: 35px
}

#modalsignup .modal-dialog .modal-content .modal-body .signup-sn-group .signup-google {
    width: 188px;
    height: 42px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #db4c3f;
    margin: 22px 0 0 32%;
    background-image: url("../img/ggl.png");
    background-repeat: no-repeat;
    background-position: 15px;
    padding-left: 37px
}

#homepage .homebackground {
    background: #fff5f2;
    height: 100%;
    width: 100%
}

#homepage .homebackground #home-content .popular-gifts {
    width: 100%;
    height: 261px;
    border-radius: 1px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    margin: 30px 0 0 0
}

#homepage .homebackground #home-content .popular-gifts-image {
    margin: 18px 0 0 21px;
    float: left
}

#homepage .homebackground #home-content .popular-gifts-maintext {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.1px;
    color: #505050;
    float: left;
    margin: 15px 5px 0 5px;
    font-style: 'OpenSans', sans-serif
}

#homepage .homebackground #home-content .popular-gifts-subtext {
    font-size: 18px;
    font-style: 'OpenSans', sans-serif;
    font-weight: 400;
    letter-spacing: -0.1px;
    color: #feb29e;
    float: left;
    margin: 18px 0 0 0
}

#homepage .homebackground #home-content .main_feed {
    width: 100%;
    height: 531px;
    border-radius: 1px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    margin: 30px 0 0 0
}

#homepage .homebackground #home-content .main_feed .post {
    border-bottom: solid 1px #979797
}

#homepage .homebackground #home-content .main_feed .post .post_header .post_image img {
    margin: 20px 0 0 25px;
    width: 60px;
    height: 60px
}

#homepage .homebackground #home-content .main_feed .post .post_header .post_header_info {
    padding-left: 100px;
    margin-top: -60px
}

#homepage .homebackground #home-content .main_feed .post .post_header .post_header_info a:link, #homepage .homebackground #home-content .main_feed .post .post_header .post_header_info a:visited, #homepage .homebackground #home-content .main_feed .post .post_header .post_header_info a:hover, #homepage .homebackground #home-content .main_feed .post .post_header .post_header_info a:active {
    color: #fca18d;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.1px;
    text-decoration: none
}

#homepage .homebackground #home-content .main_feed .post .post_header .post_header_info span {
    color: #505050;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.1px
}

#homepage .homebackground #home-content .main_feed .post .post_header .post_header_info img {
    object-fit: contain;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    margin: 0 10px 0 10px
}

#homepage .homebackground #home-content .main_feed .post .post_date {
    padding-left: 100px;
    margin-top: -10px
}

#homepage .homebackground #home-content .main_feed .post .post_date span {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    letter-spacing: -0.1px;
    color: #505050
}

#homepage .homebackground #home-content .main_feed .post .post_feedback {
    padding-left: 100px;
    margin-top: 16px
}

#homepage .homebackground #home-content .main_feed .post .post_feedback .post_likes button {
    border: none;
    outline: none;
    background-color: white;
    background-image: url("../img/like.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 16px
}

#homepage .homebackground #home-content .main_feed .post .post_feedback .post_likes span {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    letter-spacing: -0.1px;
    font-weight: 600;
    color: #505050
}

#homepage .homebackground #home-content .main_feed .post .post_feedback .post_comment input {
    width: 47%;
    height: 30px;
    margin: 10px 0 20px 0;
    border-radius: 1px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.1px;
    color: #979797;
    padding-left: 10px
}

#homepage .homebackground #home-content .profile_info {
    width: 100%;
    height: 226px;
    border-radius: 1px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    margin: 30px 0 0 0
}

#homepage .homebackground #home-content .sub_feed {
    width: 100%;
    height: 601px;
    border-radius: 1px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    margin: 65px 0 0 0
}
